.splash-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position:absolute;
    top: 8vh;
    width: 100vw;
    height: 100vh;
    }

    .splash-image-wrapper {
        grid-area: 1 / 1 / 5 / 4;
        display: flex;
        justify-content: center;
        width: 99%;
    }

    .splash-div1 { 
        
        background-image: url("https://res.cloudinary.com/dfy0z2yzj/image/upload/v1639710215/Traileo/Screen_Shot_2021-12-16_at_7.03.07_PM_canoav.png");
        height: 100%;
        width: 90%;
        border-radius: 4px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

    }


    .splash-div2 { 
        grid-area: 5 / 1 / 6 / 4;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }

    .description {
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: thin black solid;
        width: 40%;
        text-align: center;
        padding-bottom: 2vh;
        font-size: large;
    }
    .splash-div3 { 
        grid-area: 6 / 1 / 8 / 4; 
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .card-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        height: 100%;
    }

    .desc-card {
        border: thin black solid;
        height: 90%;
        width: 15%;
        padding: 0 30px 0 30px;
        display: flex;
        justify-content: center;
        border-radius: 4px;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
    }

    .divider {
        width: 1px;
        height: 90%;
        border-left: solid thin black;

    }

    .splash-div4 { grid-area: 8 / 1 / 10 / 4; }
    .splash-div5 { 
        grid-area: 10 / 1 / 11 / 8;
        width: 100%; 
    }

    .github_icon {
        height: auto;
        width: 4vw;
        /* background-color: white; */
        border-radius: 5px;
    }
    
    
    .linkedin_icon {
        height: auto;
        width: 8vw;
        /* background-color: white; */
        padding: 1px;
        border-radius: 5px;
        filter: grayscale(100%);
    }

    .link-container {
        display: flex;
        justify-content: center;
        gap: 3px;
    }