.splash-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position:absolute;
    top: 8vh;
    width: 100vw;
    height: 100vh;
    
    }

    .splash-image-wrapper {
        grid-area: 1 / 1 / 5 / 4;
        display: flex;
        justify-content: center;
        width: 99%;
    }

    .splash-div1 { 
        
        background-image: url("https://res.cloudinary.com/dfy0z2yzj/image/upload/v1639710215/Traileo/Screen_Shot_2021-12-16_at_7.03.07_PM_canoav.png");
        height: 500px;
        width: 90%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }
    .splash-div2 { 
        grid-area: 5 / 1 / 6 / 4;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .splash-div3 { grid-area: 6 / 1 / 8 / 4; }

    .splash-div4 { grid-area: 8 / 1 / 10 / 4; }
    .splash-div5 { 
        grid-area: 10 / 1 / 11 / 8;
        width: 100%; 
    }

    .github_icon {
        height: auto;
        width: 2vw;
        /* background-color: white; */
        border-radius: 5px;
    }
    
    
    .linkedin_icon {
        height: auto;
        width: 4vw;
        /* background-color: white; */
        padding: 1px;
        border-radius: 5px;
        filter: grayscale(100%);
    }

    .link-container {
        display: flex;
        justify-content: center;
        gap: 3px;
    }