.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .search { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 2 / 1 / 3 / 6; }
    .dashboard-reviews { 
        grid-area: 3 / 1 / 7 / 6;
        display: block;
        overflow-y: scroll;
    }
    .div4 { grid-area: 7 / 1 / 8 / 6; }
    .div5 { grid-area: 8 / 1 / 12 / 6; }
    .div6 { grid-area: 12 / 1 / 13 / 6; }