.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6vh;
  }
  
  .item {
    width: 25%;
    padding-bottom: 2%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-32*3)/2 */
    margin-left: 6%;
    object-fit: cover;
    filter: grayscale(100%);
  }