.ul-container {
    margin-right: 0px;
}

.ul {
    list-style-type: none;
    margin-right: 60px;
}

.card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 95%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    padding: 4px 16px;
  }

/* .card:hover {
box-shadow: 0 8px 16px 0 darkgrey;
}


.ul > li:not(:last-child) {
    border-bottom: 1px solid lightgray;
} */

.ul > li {
    width: 75%;
    margin-left: 4vw;
    padding-left: 4vw;
}